<div class="image-background">
	<%= form_for(User.new, url: signup_path, html: {class: "user-form"}) do |f| %>
		<h3>CoderChat</h3>
		<fieldset>
			<i class="fa fa-user"></i>
			<%= f.text_field 'name', placeholder: 'Your name' %>
		</fieldset>
		<fieldset>
			<i class="fa fa-envelope"></i>
			<%= f.text_field 'email', placeholder: 'Your E-mail' %>
		</fieldset>
		<fieldset>
			<i class="fa fa-lock"></i>
			<%= f.password_field "password", placeholder: "Your password" %>
		</fieldset>
		<fieldset>
			<i class="fa fa-lock"></i>
			<%= f.password_field "password_confirmation", placeholder: "Confirm your password" %>
		</fieldset>
		<%= f.hidden_field "avatar", value: "http://placeimg.com/100/100/people" %>
		<%= f.submit "Sign up" %>
		<p>You have an account already</p>
		<a href="<%= login_path %>" class="button">Sign in</a>
	<% end %>
</div>