<!DOCTYPE html>
<html>
<head>
  <title>Week2Assignment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="message <%= flash.keys[0] %>">
	<p><%= flash[flash.keys[0]] %></p>
</div>

<%= yield %>

</body>
</html>
